@{
    ViewBag.Title = "Home Page";
}



<head>
    <title>agricultural medicine sales site</title>
    <link rel="stylesheet" href="styless.css">


    <meta charset="UTF-8">

    <meta name="description" content="agricultural medicine">

    <meta name="keyword" content="weed,fertilizer,harmful insectidies">

    <meta name="author" content="***">

</head>


<style>
    #logo {
        border-radius: 40px/40px;
    }
</style>
</script>

<body>




    <br>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Hurricane&display=swap" rel="stylesheet">

    <style>
        body {
            background-color: #eeeee4;
        }

        #maintop2 {
            background-image: url(mainpagee.jpg);
            height: 400px;
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover;
        }

        #textcont {
            text-align: right;
            padding-right: 30px;
            padding-top: 50px;
            font-size: 60px;
            color: rgb(0, 0, 0);
            font-family: 'Hurricane', cursive;
            text-shadow: 2px 2px #e5ece9;
        }


        #maintop3 {
            height: 500px;
            width: 320px;
            margin-left: 450px;
            background-color: rgb(221, 184, 154);
            margin-top: 50px;
            text-align: center;
            position: absolute;
        }


        #maintop4 {
            height: 500px;
            width: 320px;
            margin-left: 800px;
            background-color: rgb(221, 184, 154);
            margin-top: 50px;
            text-align: center;
            position: absolute;
        }
    </style>
    <div>
        <div id="maintop2">
            <div id="textcont"><b> Your ideal partner for better farming.</b></div>
            <div>
                <div id="maintop3">

                    <p>
                        <div style="font-size: 20px; color: brown;"> Harms of Weeds</div>
                        <br>

                        » Weeds prevent cultivated plants from getting light. <br>
                        » They share the water and nutrients of the cultivated plants.<br>
                        » They reduce the soil temperature with the shadow effect.<br>
                        » They harm people, animals and animal products. animal poisoning to humans
                        production by mixing with the decrease in the nutritional value of the feed and the seeds used in
                        production.
                        cause deterioration of the material.<br>
                        » They reduce the nutritional value of agricultural products.<br>
                        » They harbor diseases and pests.<br>
                        » They damage buildings and facilities.<br>
                        » They dry out and create a fire hazard.<br>
                        » Water weeds damage water in different ways. They impair the quality of the water with their
                        secretions.<br>
                        »They also block the transmission bundles, preventing the plant from taking water and causing water
                        losses.
                    </p>
                </div>
                <div id="maintop4">
                    <p>
                        <div style="font-size: 20px; color: brown;"> Choosing The Right Herbicide</div>
                        <br>
                        1. When you want to buy pesticides, first, Food Agriculture
                        and a certified specialist who has received a certificate from the Ministry of Livestock.
                        print the recipe.
                        <br>
                        2. Be sure to purchase pesticides from “Picticides Dealers” who have a pesticide sales
                        certificate from the Ministry of Food, Agriculture and Livestock.
                        <br>
                        3. On the pesticide label; the license date and number of the drug,
                        date of manufacture, pest, disease on the plant you will use
                        or make sure that the name of the weed, the dose of the drug and the company name are
                        written!
                        <br>
                        4. It is a crime to sell pesticides without a license. Unlicensed pesticides
                        do not buy.
                        <br>
                        5. Unlicensed, fake without a Turkish label on them
                        and never buy illegal pesticides.
                        <br>
                        6. Pesticide; Ask the prescribing specialist when and how often it should be applied.
                        <br>
                        7. Take as much medicine as you need. Invoice of the drug, the expected
                        Keep it until you see the effect.
                    </p>
                </div>
            </div>
        </div>
        <img src="gif.gif" style="height:300px;width: 400px;" alt="track.gif">

    </div>
    <div>

    </div>


</body>

